@page
@model ReportsProj.Pages.InvalidParamModel
@{
}
<center>
<br />
<br />
<br />
<br />
<br />
<img src="~/Images/logo.jpg" />
<br />
<br />
    <h1>عفواً..هذه الفاتورة غير موجود بالنظام</h1>
    <h3>يرجى التأكد من الكود و رابط الفاتورة المطلوبة</h3>
</center>
